<article class="product-card">
  <a class="product-card__link" href="{{ product.url }}" aria-label="{{ product.title | escape }}">
    <div class="product-card__image">
      {% if product.featured_media %}
        {{ product.featured_media | image_url: width: 900 | image_tag: loading: 'lazy', widths: '300, 450, 600, 900', sizes: '(min-width: 990px) 25vw, 50vw' }}
      {% endif %}
    </div>
    <div class="product-card__body">
      <p>{{ product.title }}</p>
      <strong>
        {% if product.price_varies %}From {% endif %}
        {{ product.price | money }}
      </strong>
    </div>
  </a>
</article>
