<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#050506">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; {{ current_tags | join: ', ' }}{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {{ content_for_header }}
    {{ 'luma.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="template-{{ template.name | handle }}">
    <a class="skip-link" href="#MainContent">Skip to content</a>

    {% sections 'header-group' %}

    <main id="MainContent" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    {{ 'luma.js' | asset_url | script_tag }}
  </body>
</html>
